<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="header">

    <nav class="navbar navbar-expand navbar-dark bg-primary shadow-sm">
        
        <div class="container">

            <a class="navbar-brand fw-bold" href="/">
                Sistema de Licitações
            </a>

            <div class="d-flex align-items-center justify-content-between w-100" id="navbarNav">

                <ul class="navbar-nav me-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nav-item" th:if="${session.role != null}">
                        <a class="nav-link" href="/editais">Editais</a>
                    </li>

                </ul>

                <a class="btn btn-light btn-sm" href="/login" th:if="${session.role == null}">
                    Login
                </a>
                
                <a class="btn btn-light btn-sm" href="/logout" th:if="${session.role != null}">
                    Logout
                </a>

            </div>

        </div>
    </nav>

</div>

</body>
</html>