<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet">
</head>

<body class="bg-light">

    <div class="container d-flex justify-content-center align-items-center vh-100">

        <div class="card shadow p-4" style="width: 400px;">
            <a th:href="@{/login}" class="btn btn-secondary btn-sm">
                Voltar
            </a>
            
            <h2 class="text-center mb-4 mt-4">
                Cadastro
            </h2>
            
            <div th:if="${mensagemErro}" class="alert alert-danger">
                <span th:text="${mensagemErro}"></span>
            </div>

            <form th:action="@{/registrar}" th:object="${user}" method="post">

                <div class="mb-3">

                    <label class="form-label">
                        Nome
                    </label>

                    <input type="text"
                        th:field="*{nome}"
                        class="form-control"
                        placeholder="Digite seu nome"
                        oninput="validarSenhas()"
                        required>

                </div>

                <div class="mb-3">

                    <label class="form-label">
                        Email
                    </label>

                    <input type="email"
                        th:field="*{email}"
                        class="form-control"
                        placeholder="Digite seu email"
                        oninput="validarSenhas()"
                        required>
                </div>

                <div class="mb-3">

                    <label class="form-label">
                        Senha
                    </label>

                    <input type="password"
                        id="senha"
                        th:field="*{senha}"
                        class="form-control"
                        placeholder="Digite sua senha"
                        required
                        oninput="validarSenhas()">

                </div>
                
                <div class="mb-3">

                    <label class="form-label">
                        Confirmar senha
                    </label>

                  <input type="password"
                    id="confirmarSenha"
                    name="confirmarSenha"
                    class="form-control"
                    placeholder="Confirme a sua senha"
                    oninput="validarSenhas()"
                    required>
                </div>

                <button type="submit"
                    id="btnRegistrar"
                    class="btn btn-success w-100"
                    disabled>
                Registrar
            </button>

            </form>

            <div class="text-center mt-3">
                <a
                    th:href="@{/login}"
                    class="text-decoration-none">

                    Voltar para login

                </a>

            </div>

        </div>

    </div>
        <script>
    function validarSenhas() {
        const senha = document.getElementById("senha").value;
        const confirmar = document.getElementById("confirmarSenha").value;
        const nome = document.getElementById("nome").value;
        const email = document.getElementById("email").value;
        const botao = document.getElementById("btnRegistrar");

        if (nome === "" || email === "" || senha !== confirmar || senha === "" || senha.length < 6 || nome.length < 6 || email.length < 8) {
            botao.disabled = true;
        } else {
            botao.disabled = false;
        }
    }
    </script>
</body>
</html>